#idcard{
  border: 1px solid;
  margin-left: -6px;
  padding: 0px;
  margin-bottom: 15px;       
  /* margin bottom */
}
#identity{
  
  margin-top: 70px;
  padding: 10px;
  font-size: 25px;
  border:  1px solid rgb(49, 84, 150);
  background-color: rgb(49, 84, 150);
  color: white;
  text-align: center;
  
 

}

#name{
  width: 200px;
  border: 1px solid black;
  font-weight: bold;
}
#namedetail{
  border: 1px solid black;
  width: 200%;
  font-weight: bold;
}
#Qrcode{
  
  margin-top: 70px;
  padding: 10px;
  font-size: 25px;

}
#Smiit{
  font-size: 35px;
}
#qrSize{
height: 166px;
position: relative;
}
#qrSizebox{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 130PX;
  width: 140px;
}

#qr{
  padding-left: 1px;
  padding-right: 1px;
  border: 1px solid;
  height: 286px;
  margin-bottom: 15px;       
  /* margin bottom */
}
#smitprogram{
  font-weight: bold;
font-size: 16px;
}
#photo{
  height: 152px;
  border: 1px solid black;

}
